<!DOCTYPE html>

    #parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>

    <title>$the_title - $company_name</title>
    <meta content="initial-scale=1.0, width=device-width" name="viewport" />
    
    $theme.include($top_head_include) 
    
    <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300|Playfair+Display' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--<link href="$css_folder/vendor/animate.min.css" media="all" rel="stylesheet" type="text/css" >-->
    
    <link rel="shortcut icon" href="$images_folder/favicon.png">
    <link rel="apple-touch-icon" href="$images_folder/apple-touch-icon.png">
  

</head>

<body class="$css_class">

    $theme.include($body_top_include)

    #if ($is_signed_in)
        #dockbar()    
    #end

<div class="container-fluid" id="wrapper">              
    <header id="header-full-top" class="header-full">    <!-- Header starts -->

        <div class="top-bar hidden-xs" id = "header-top">            
            <div class="container">
                <ul class="topbar-nav list-unstyled list-inline pull-left">    <!-- Header title left -->
                    <li>
                        <div class="header-full-title">
                            <h1 class="animated fadeInRight">
                                <a href="http://localhost:8080/" ><span class='white'>100 Years:</span> <span class='red'>the <strong>Rockefeller</strong> Foundation</span></a>
                            </h1>
                        </div>
                    </li>
                </ul>
                <ul class="topbar-nav list-unstyled list-inline pull-right" id = "header-list">    <!-- Header title right -->
                    <li><a href="/items"><i class="fa fa-book"></i> Digital Library</a></li>
                    <li><a href="/biographical"><i class="fa fa-user"></i> People</a></li>
                    <li><div id="custom-search-input">
                        <form id="search-form" name="search-form" class="form-default form-inline" action="/solr-search/results/interceptor" method="get">        <div class="form-group has-feedback">
                            <label for="search" class="sr-only"></label>
                            <input type="text" class="form-control" name="query" id="search" placeholder="search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                        </form>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class = "row-fluid hidden-desktop">
            <div id = "page-top-bar" class = "span12">
                <div id="nav-trigger" class = "pull-right">
                    <span>Menu</span>
                </div>
            </div>
            #if ($has_navigation || $is_signed_in)
                <nav id = "nav-mobile">
                    <ul class = "span6 offset6 pull-right mobile-nav-menu" id = "mobile-nav">
                        #foreach ($nav_item in $nav_items)
                            <li class = "mobile-nav-child span12"><a aria-labelledby="layout_$nav_item.getLayoutId()"  href="$nav_item.getURL()" >$nav_item.getName() </a></li>
                        #end
                    </ul>
                </nav>
            #end


        </div>

        <div class = "row-fluid visible-desktop">
            <div id = "page-top-bar" class = "span12">

                #if ($has_navigation || $is_signed_in)
                    #parse ("$full_templates_path/navigation.vm")
                #end
                #if(!$is_signed_in)
                    <div id="mainNavigationToggle" class="btn btn-secondary hidden-desktop pull-right">
                        <i class="icon-reorder"></i>
                    </div>
                #end
            </div>
        </div>
    </header>   <!-- Header ends -->
</div>

<div id="content" class="container-fluid">   <!--for breadcrumbs-->
    ##<nav id="breadcrumbs">#breadcrumbs()</nav>

    #if ($selectable)  <!--for logging in-->
        $theme.include($content_include)
    #else
        $portletDisplay.recycle()   <!--resetting the variables-->

        $portletDisplay.setTitle($the_title)

        $theme.wrapPortlet("portlet.vm", $content_include)
    #end
</div>

<footer>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-6">
                <p><span class="copyright">This project was generously funded by the&nbsp;<a title="rockefellerfoundation.org" href="http://www.rockefellerfoundation.org/" target="_blank">Rockefeller Foundation</a>.</span></p>
                <p><span class="copyright">Copyright &copy; <a title="Rockefeller Archive Center" href="http://rockarch.org" target="_blank">The Rockefeller Archive Center</a>. All rights reserved.<br /></span></p>            </div>
            <div class="col-lg-6">
                <a href="http://www.rockarch.org/">
                    <img src="$images_folder/footer_logo2.jpg" class="logo" alt="footer logo" />
                </a>
            </div>
        </div>
    </div>
</footer>

    $theme.include($body_bottom_include)

    $theme.include($bottom_include)

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" integrity="sha384-vOWIrgFbxIPzY09VArRHMsxned7WiY6hzIPtAIIeTFuii9y3Cr6HE6fcHXy5CFhc" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://staging.rockefeller100.org/application/views/scripts/javascripts/vendor/modernizr.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="$javascript_folder/scripts.js"></script>
    <script type="text/javascript" src="$javascript_folder/custom.js"></script>

</body>

</html>